<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>글 수정</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/styles.css}" rel="stylesheet">
  <style>
    .tag {
      display: inline-block;
      background-color: #f1f1f1;
      color: #333;
      padding: 5px 10px;
      border-radius: 15px;
      margin-right: 5px;
      font-size: 0.875rem;
    }
    .remove-tag {
      cursor: pointer;
      margin-left: 5px;
    }
  </style>
</head>
<body>
<div class="container">
  <h1>글 수정</h1>
  <form th:action="@{|/@${user.username}/post/${post.title}/edit|}" th:object="${postDTO}" method="post">
    <div>
      <label for="title">제목</label>
      <input type="text" id="title" th:field="*{title}" class="form-control"/>
    </div>
    <div>
      <label for="content">내용</label>
      <textarea id="content" th:field="*{content}" class="form-control"></textarea>
    </div>

    <div class="form-group">
      <label for="tagInput">태그</label>
      <input type="text" id="tagInput" class="form-control" placeholder="태그를 입력하고 엔터키를 누르세요">
    </div>
    <div id="tagContainer" class="form-group">
      <div th:each="tag : ${post.tags}" class="tag">
        <span class="tag-name" th:text="${tag.name}">#태그</span>
        <span class="remove-tag" onclick="removeTag(this, '${tag.name}')">❌</span>
      </div>
    </div>
    <input type="hidden" id="tags" th:field="*{tags}" name="tags">
    <div>
      <span>현재 시리즈 : </span>
      <span th:text="${post.seriesName}"></span>
    </div>

    <div class="form-group">
      <label for="series">시리즈 변경하기 </label>
      <select id="series" th:field="*{seriesName}" class="form-control">
        <option value="" disabled selected>시리즈를 선택하세요</option>
        <option th:each="series : ${seriesList}" th:value="${series.seriesName}" th:text="${series.seriesName}"></option>
      </select>
    </div>

    <div>
      <button type="submit" class="btn btn-primary">수정 완료</button>
    </div>
  </form>
  <form th:action="@{|/@${user.username}/post/${post.title}/delete|}" method="post">
    <button type="submit" class="btn btn-danger">삭제</button>
  </form>
</div>
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const tagInput = document.getElementById('tagInput');
    const tagContainer = document.getElementById('tagContainer');
    const hiddenTagField = document.getElementById('tags');

    tagInput.addEventListener('keypress', function (event) {
      if (event.key === 'Enter') {
        event.preventDefault();
        addTag(tagInput.value);
        tagInput.value = '';
      }
    });

    function addTag(tagName) {
      if (tagName.trim() !== '') {
        const tagElement = document.createElement('div');
        tagElement.className = 'tag';
        tagElement.innerHTML = `<span class="tag-name">${tagName}</span><span class="remove-tag" onclick="removeTag(this, '${tagName}')">❌</span>`;
        tagContainer.appendChild(tagElement);
        updateHiddenTagField();
      }
    }

    window.removeTag = function (element, tagName) {
      element.parentElement.remove();
      updateHiddenTagField();
    }

    function updateHiddenTagField() {
      const tags = [];
      document.querySelectorAll('.tag .tag-name').forEach(tagElement => {
        tags.push(tagElement.textContent);
      });
      hiddenTagField.value = tags.join(',');
    }

    updateHiddenTagField();
  });
</script>

</body>
</html>
