<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Velog</title>
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/styles.css}" href="../css/styles.css" rel="stylesheet">
</head>
<body>
<div class="container welcome-container">
    <h1>HELLO</h1>
    <h1 class="welcome-message">반갑습니다, <span th:text="${user.username}"></span>!</h1>
    <a th:href="@{/logout}" class="logout-button">로그아웃</a>
</div>

</body>
</html>
